* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;

  font-family: 'Bitter', serif;
  font-family: 'Lexend Tera', sans-serif;
}

h1 {
  font-size: 44px;
  font-weight: 800;
  line-height: 55px;
  color: #FFFFFF;
  text-shadow: 3px 3px 0px rgba(224, 224, 224, 0.25);
}

h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #FFFFFF;
  text-shadow: 3px 3px 0px rgba(224, 224, 224, 0.25);
}

.bg-lines {
  display: flex;
  height: 100%;
  width: 80vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;

  .color-line {
    height: 100%;
    width: 100%;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(60deg);
  }

  100% {
    transform: rotate(0deg);
  }


}

.bg-black {
  margin: 0 auto;
  width: 81vw;
  z-index: -1;
  height: 90%;
  background-color: #000;
  margin-top: 3%;

  .time-and-data {
    display: flex;
    justify-content: end;
    gap: 96px;
    padding: 46px 65px 37px 0;

    color: #EEEEEE;
    font-weight: 300;
    font-size: 20px;

  }

  .all-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding-bottom: 85px;


    .center-elem-row {
      display: flex;
      align-items: flex-start;
      gap: 44px;

      .left-part {
        width: 280px;
        display: flex;
        flex-direction: column;
        align-items: center;


        .color-round {
          margin-bottom: 40px;

          input[type=color] {
            -webkit-appearance: none;
            width: 114px;
            height: 114px;
            border-radius: 100px;
            border: none;
            background-color: #000;
          }

          input[type="color"]::-webkit-color-swatch {
            border: none;
            border-radius: 100%;

          }
        }

        .brashes {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 36px;

          .brush {
            display: flex;
            align-items: center;
            gap: 16px;
            cursor: pointer;

            .place-for-arrow {
              width: 25px;
              height: 25px;
            }

            .arrow {
              width: 25px;
              height: 25px;
              background-image: url('../Etch-A-Sketch/icons/arrow.svg');
            }
          }
        }

      }

      .center-part {

        #full-grid {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          border: 2px solid black;
          width: 532px;
          height: 532px;

          .row {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: space-between;

            .elem {
              height: 100%;
              width: 100%;
              background-color: #eee;
              border: 0.5px solid #000000;

            }
          }
        }
      }

      .right-part {
        width: 280px;
        align-self: center;

        .new-sketch-btn {
          cursor: pointer;
        }

        .new-sketch-btn-active {
          animation: rotation 0.5s forwards;
          // animation-fill-mode: forwards;
        }
      }
    }


    .range-row {

      .range-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        .range-value {
          font-weight: 400;
          font-size: 24px;
          color: #FFFFFF;
        }
      }


      input[type=range] {
        width: 364px;
        appearance: none;
        border-radius: 100px;
      }

      input[type=range]::-webkit-slider-runnable-track {
        background: #694FAF;
        border-radius: 100px;
        height: 11px;
      }

      input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        background: #eee;
        border-radius: 100px;
        width: 28px;
        height: 28px;
        cursor: pointer;
        margin-top: -8px;
        transition: 0.2s;
      }

      input[type=range]:hover::-webkit-slider-thumb {
        background: #D7D954;
        width: 32px;
        height: 32px;
        transition: 0.2s;


      }
    }
  }







}